extends layout

block content
  .container
    header.header
      nav
        ul.nav.nav-pills.float-right
          li.nav-item
            a.nav-link.active(href='https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/#') About
          li.nav-item
            a.nav-link(href='https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/#') Contact
      h3.text-muted Agence - Prototipe
      hr
    main(role='main')
      h2 Consultar
    br
    h2 Resultado