extends layout

block content
  .container
    header.header
      nav
        ul.nav.nav-pills.float-right
          li.nav-item
            a.nav-link.active(href='https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/#') About
          li.nav-item
            a.nav-link(href='https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/#') Contact
      h3.text-muted Agence - Prototipe
      hr
    main(role='main')
      //- .jumbotron.text-center
        h1 Reporte Por Consultor
        p Resize this responsive page to see the effect!
      .row
        .col-sm-12
          .row.row-botton
            .col-sm-2
              h5 Período
            .col-sm-10
              .row
                .col-md-6
                  .form-group
                    #periodIni.input-group.date(data-target-input="nearest")
                      input.form-control.datetimepicker-input(type="text" data-target="#periodIni")
                      .input-group-append(data-target="#periodIni" data-toggle="datetimepicker")
                        .input-group-text
                          i.fa.fa-calendar
                .col-md-6
                  .form-group
                    #periodFin.input-group.date(data-target-input="nearest")
                      input.form-control.datetimepicker-input(type="text" data-target="#periodFin")
                      .input-group-append(data-target="#periodFin" data-toggle="datetimepicker")
                        .input-group-text
                          i.fa.fa-calendar
              script(type="text/javascript").
                $(function () {
                  $('#periodIni').datetimepicker({
                    format: 'MM/YYYY'
                  });
                  $('#periodFin').datetimepicker({
                    format: 'MM/YYYY',
                    useCurrent: false
                  });
                  $("#periodIni").on("change.datetimepicker", function (e) {
                    if ((e.date || e.date!=undefined) && $("#periodFin").children().val()!='' && $("#consultants").val()!='')
                      hideBtn();
                    else
                      showBtn();

                    $('#periodFin').datetimepicker('minDate', e.date);
                  });
                  $("#periodFin").on("change.datetimepicker", function (e) {
                    if ((e.date || e.date!=undefined) && $("#periodIni").children().val()!='' && $("#consultants").val()!='')
                      hideBtn();
                    else
                      showBtn();

                    $('#periodIni').datetimepicker('maxDate', e.date);
                  });
                });
        .col-sm-12
          .row.row-botton
            .col-sm-2
              h5 Consultor
            .col-sm-10
              select#consultants.form-control(multiple="")
                each val in consultant
                  option(value=val.id)= val.name
              div.text-help
                | Se pueden seleccionar múltiples opciones a la vez.
                br
                |     .- Para Windows: Mantenga presionado el botón de control (ctrl) para seleccionar múltiples opciones
                br
                |     .- Para Mac: Mantenga presionado el botón de comando para seleccionar múltiples opciones
                br
                |     Para seleccionar un rango o todas las opciones, mantenga presionado el botón Mayús y haga clic en la primera opción, desplácese y haga clic hasta la última opción que desee seleccionar.
        .col-sm-12
          .row.row-botton
            .col-sm-2
              h5 Generar
            .col-sm-10
              .row
                .col-sm-3.row-botton
                  button.btn.btn-info.btn-block(type="button" disabled)#btnRep Relatório
                .col-sm-3.row-botton
                  button.btn.btn-info.btn-block(type="button" disabled)#btnGra Gráfico
                .col-sm-3.row-botton
                  button.btn.btn-info.btn-block(type="button" disabled)#btnPiz Pizza
      br
      #content!= results

    script(type="text/javascript").
      google.load("visualization", "1", {packages:["corechart"]});
      let periodIni = document.querySelector('#periodIni');
      let periodFin = document.querySelector('#periodFin');
      let consultants = $("#consultants");

      document.querySelector('#consultants').addEventListener("change", function() {
        if (periodIni.children[0].value!='' && periodFin.children[0].value!='' && consultants.val()!='')
          hideBtn();
        else
          showBtn();
      });

      $('#btnRep').click(function() {
        let data = {};
        data.dateIni = periodIni.children[0].value;
        data.dateFin = periodFin.children[0].value;
        data.arrayConsultants = consultants.val();

        $.ajax({
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          url: 'http://localhost:3000/report',						
          success: function(data) {
            document.getElementById("content").innerHTML = data;
          }
        });
      });

      $('#btnGra').click(function() {
        let data = {};
        data.dateIni = periodIni.children[0].value;
        data.dateFin = periodFin.children[0].value;
        data.arrayConsultants = consultants.val();

        $.ajax({
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          url: 'http://localhost:3000/graphic',						
          success: function(data) {
            console.log(data);
            document.getElementById("content").innerHTML = data.html;

            if (!data.error)
              return;
            
            let seriesObj = {};
            seriesObj[data.column] = {type: 'line'};
            let options = {
              title : 'Desempeño Por Cada Consultor',
              vAxis: {title: 'Dolar'},
              hAxis: {title: 'Mes'},
              seriesType: 'bars',
              series: seriesObj
            };
            drawComboChart(data.earnings, options);
            google.setOnLoadCallback(drawComboChart);
            $(window).resize(function(){
              drawComboChart(data.earnings, options);
            });
          },
          error: function(data) {
            console.log('Error');
            console.log(data);
          }
        });
      });

      $('#btnPiz').click(function() {
        let data = {};
        data.dateIni = periodIni.children[0].value;
        data.dateFin = periodFin.children[0].value;
        data.arrayConsultants = consultants.val();

        $.ajax({
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          url: 'http://localhost:3000/pie',						
          success: function(data) {
            console.log(data);
            document.getElementById("content").innerHTML = data.html;
            var options = {
              title: 'Porcentaje De Ganancias Por Consultor'
            };
            drawPieChart(data.earnings, options);
            google.setOnLoadCallback(drawPieChart);
            $(window).resize(function(){
              drawPieChart(data.earnings, options);
            });
          }
        });
      });

      function showBtn() {
        document.querySelector('#btnRep').setAttribute('disabled', true);
        document.querySelector('#btnGra').setAttribute('disabled', true);
        document.querySelector('#btnPiz').setAttribute('disabled', true);
      }

      function hideBtn() {
        document.querySelector('#btnRep').removeAttribute('disabled');
        document.querySelector('#btnGra').removeAttribute('disabled');
        document.querySelector('#btnPiz').removeAttribute('disabled');
      }

      function drawComboChart(earnings, options) {
        let data = google.visualization.arrayToDataTable(earnings);
        let chart = new google.visualization.ComboChart(document.getElementById('comboChartDiv'));
        chart.draw(data, options);
      }

      function drawPieChart(earnings, options) {
        let data = google.visualization.arrayToDataTable(earnings);
        let chart = new google.visualization.PieChart(document.getElementById('pieChartDiv'));
        chart.draw(data, options);
      }